<div class="container">
<form #designationClassForm="ngForm" (ngSubmit)="onSubmit(designationClassForm.value)" >
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Name</label>
        <input type="text" class="form-control" ngModel  placeholder="Enter Name" name="name">
      </div>
      <div class="form-group col-md-6">
        <label>Description</label>
        <textarea class="form-control"  ngModel rows="3" placeholder="Enter Description" name="description"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Code</label>
        <input type="text" class="form-control"  ngModel placeholder="Enter Code" name="code">
      </div>
      <div class="form-group col-md-2">
        <label>Status</label>
        <input type="number" class="form-control"   ngModel placeholder="Enter Status" name="status">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>