<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="designationclass_name">Name</label>
        <input type="text" class="form-control" id="designationclass_name" placeholder="Enter Name">
      </div>
      <div class="form-group col-md-6">
        <label for="designationclass_description">Description</label>
        <textarea class="form-control" id="designationclass_description" rows="3" placeholder="Enter Description"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="designationclass_code">Code</label>
        <input type="text" class="form-control" id="designationclass_code" placeholder="Enter Code">
      </div>
      <div class="form-group col-md-2">
        <label for="designationclass_status">Status</label>
        <input type="text" class="form-control" id="designationclass_status" placeholder="Enter Status">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>