
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Description</th>
        <th scope="col">status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <ng-container *ngIf="item.deleted==false">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.code}}</td>
        <td>{{item.description}}</td>
        <td>{{item.status}}</td>
        <td><button class="btn btn-warning" (click)="updateData()">Edit</button></td>
        <td><button class="btn btn-danger" (click)="deleteData()">Delete</button></td>
      </ng-container>
      </tr>
    </tbody>
    <footer>
      <td> </td>
      
    </footer>
  </table>